/********************/
/* Universal Styles */
/********************/

body {
  height:100vh;
  background-image:url(../static/images/shutterstock_river.jpg);
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

html,
body,
.water,
.water .map {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body,
input,
textarea,
select,
button,
keygen,
isindex {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
}

section, header, nav, footer {
    display:block;
}

/*****************/
/* Header Styles */
/*****************/

#pageheader {
  position:fixed;
  top:0px;
  left:0px;
  height:90px;
  width:100%;
}

header {
  height:100%;
  width:100%;
}

#tool-title {
  font-size: 28px;
}

.logos {
  position:relative;
  margin:0px;
  width:100%;
  height:55px;
  background-color:#fff;
}

.logos img#usaid {
  position:absolute;
  top:5px;
  left:30px;
  width:150px;
}

.logos img#nasa {
  position:absolute;
  top:0px;
  left:210px;
  width:60px;
}

.logos img#adpc {
  position:absolute;
  top:9px;
  left:300px;
  width:80px;
}

.logos img#servir {
  position:absolute;
  top:12px;
  right:30px;
  width:250px;
}

nav {
  position:relative;
  margin:0px;
  width:100%;
  height:35px;
  background-color:#3a3a3a;
  color:#eee;
}

nav ul {
  position:absolute;
  top:0px;
  margin-top:7px;
}

nav ul li {
  display:inline;
  list-style-type:none;
  padding:2px;
  cursor:pointer;
}

nav ul li #homebutton,
nav ul li #examplesbutton,
nav ul li #aboutbutton {
  font-family:Roboto;
  font-size:16px;
  background-color: #3a3a3a;
  border: none;
}

nav ul li #feedbacklink {
  margin-left: 10px;
  font-family:Roboto;
  font-size:16px;
  background-color: #3a3a3a;
  color: #eee;
}

/***********************/
/* Page Content Styles */
/***********************/

#pagecontent {
  position:fixed;
  top:90px;
  left:0px;
  height:calc(100vh - 90px - 55px);
  width:100%;
  background-color:rgba(255,255,255,0.2);
}

#pagecontent a {
  color:#444;
  text-decoration:none;
}

#pagecontent a:hover {
  text-shadow:0px 0px 4px #333;
}

#pagecontent #all-pages {
  position:relative;
  height:100%;
  width:100%;
}

/*****************/
/* Footer Styles */
/*****************/

#pagefooter {
  position:fixed;
  bottom:0px;
  left:0px;
  height:55px;
  width:100%;
}

footer {
  height:100%;
  width:100%;
  border-top:1px solid #3a3a3a;
}

.logos img#deltares {
  position:absolute;
  top:7px;
  left:0px;
  width:100px;
}

.logos img#sig {
  position:absolute;
  top:5px;
  left:150px;
  width:200px;
}

.logos img#sei {
  position:absolute;
  top:5px;
  left:400px;
  width:175px;
}

.logos img#gee {
  position:absolute;
  top:7px;
  right:5px;
  width:250px;
}

/**************/
/* Search Box */
/**************/

#searchbox {
  position:absolute;
  right:10px;
  top:4px;
  width:270px;
  color: black;
}

/****************************/
/* About and Examples Pages */
/****************************/

#about,
#examples {
  display:none;
  position:absolute;
  top:0%;
  left:10%;
  height:calc(100vh - 90px - 55px);
  width:76%;
  padding:2%;
  overflow:auto;
  background:rgba(255, 255, 255, 0.8);
  font-family:Roboto;
  font-size:16px;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
}

#about h1,
#examples h1 {
  font-size:1.8rem;
  font-weight:bold;
  padding:0.5rem;
  color:gray;
}

#about p,
#examples p {
  padding:0.5rem;
  font-size:1.4rem;
}

#examples span {
  font-size:1.4rem;
}

#workflow_img {
  width: 800px;
  margin: 10px 0px;
  margin-left: 50px;
}

.example_items {
  display: inline-block;
  margin-top: 10px;
}

.example_item {
  display: flex;
  margin-bottom: 25px;
  left: 0px;
  align-items: top;
}

.example_item  img {
  width: 175px;
  height: 150px;
  margin-right: 10px;
  cursor: pointer;
}

.example_img {
  margin-top: 5px;
}

/*****************************************/
/* Application Page Top Level Components */
/*****************************************/

.water .ui {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 445px;
  z-index: 1;
}

.water .panel {
  border-radius: 2px;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0px 5px gray;
  overflow: auto;
  margin-bottom: 0;
}

.water header {
  padding-bottom: 5px;
}

.water h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.water .collapse-button {
  display: inline;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

.water .settings-button {
  display: none;
  position: absolute;
  right: 0px;
  background-color: white;
  width: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 5px gray;
  cursor: pointer
}

.water .general-info-button {
  margin-right: 10px;
}

.water .instructions {
  font-size: 12.5px;
  margin-bottom: 8px;
}

/*****************************/
/* Application Page Controls */
/*****************************/

.water .controls {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.water .inputs {
  display: inline-block;
  flex-grow: 8;
}

.water .expert {
  margin-top: -5px;
  margin-left: 68px;
}

.water .expert-toggle {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  margin-top: 15px;
}

.water .expert-message {
  font-weight: bold;
}

.water .expert-instructions {
  font-weight: bold;
  font-style: italic;
}

.water .expert-input {
  display: none;
  margin-top: 15px;
  overflow-y: auto;
}

.water .expert-input-block-label {
  font-weight: normal;
  display: inline-block;
  width: 65px;
  font-size: 12px;
}

.water .climatology-input,
.water .defringe-input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.water .percentile-input-perm,
.water .percentile-input-temp {
  width: 20%;
  display: inline;
}

.water .water-threshold-input,
.water .veg-threshold-input,
.water .hand-threshold-input,
.water .cloud-threshold-input {
  width: 20%;
  display: inline;
}

.water .climatology-info-button,
.water .defringe-info-button {
  position: relative;
  bottom: 8px;
}

.water .reset-button {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 65px;
}

.water .expert-reset {
  margin-left: 3px;
}

.water .btn.export {
  display: inline-block;
  margin-left: 10px;
}

.water .input-block {
  display: block;
  margin-top: 7px;
}

.water .input-block.date {
  margin-bottom: 0px;
  margin-top: 0px;
}

.water .input-block.region {
  height: 28px;
}

.water .input-block.region ul {
  display: inline-block;
  list-style-type: none;
  margin-left: -48px;
}

.water .input-block.region ul li{
  display: inline-block;
  margin-left: 8px;
  padding: 2px;
  vertical-align: middle;
}

.water .input-block.region ul li label {
  font-size: 12px;
  font-weight: normal;
  vertical-align: middle;
  margin-left: 5px;
}

.water .input-block-label {
  font-weight: normal;
  display: inline-block;
  width: 65px;
}

.water .date-type-picker input[type=radio] {
  vertical-align: top;
  margin-top: 2px;
}

.water .date-type-picker label {
  font-style: italic;
  font-weight: normal;
}

.water .date-type-picker .or {
  padding: 0 .3em;
}

.water .period_slice {
  margin-left: 7px;
  margin-right: 7px;
}

.water .submit {
  margin-left: 10px;
  margin-bottom: 0px;
}

.water .range-picker,
.water .average-picker, {
  display: block;
}

.water .filename {
  width: 43%;
  display: inline;
  font-size: 12px;
}

.water .date-picker {
  display: inline-block;
  width: 26%;
}

.water .date-picker-2 {
  display: inline-block;
  width: 26%;
}

.water .region .message {
  font-style: italic;
  color: gray;
}

.water .region .message-drawing,
.water .region .message-selected {
  display: none;
}

.water .region.selected .message,
.water .region.drawing .message {
  display: none;
}

.water .region.drawing .message-drawing {
  display: inline;
}

.water .region.selected .message-selected {
  display: inline;
  color: green;
  font-style: normal;
}

.water .region.selected .message-selected .clear {
  color: black;
}

.water .export-info-button {
  margin-left: 5px;
}
/*
.water #monthsControlSlider {
  display: show;
  left: 15px;
  bottom: 120px;
  position: absolute;
}
*/
.water .months-slider {
  display: none;
  margin-left: -43px;
  margin-top: 30px;
}
.water #monthsControlSlider {
  margin-left: 30px;
}

/********************************/
/* Application Page Info Panels */
/********************************/

.water .general-info,
.water .legend-info,
.water .climatology-info,
.water .defringe-info,
.water .percentile-info,
.water .water-threshold-info,
.water .veg-threshold-info,
.water .hand-threshold-info,
.water .cloud-threshold-info,
.water .export-info {
  display: none;
}

.water .general-info-shown {
  display: inline;
  position: absolute;
  right: 455px;
  top: 7px;
  padding: 15px;
  margin-top: -5px;
  width: 450px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  overflow: auto;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
}

.water .legend-info-shown {
  display: inline;
  position: absolute;
  left: 158px;
  bottom: 5px;
  padding: 10px;
  margin-bottom: -5px;
  width: 380px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  overflow: auto;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
}

.water .climatology-info-shown,
.water .defringe-info-shown,
.water .percentile-info-shown,
.water .water-threshold-info-shown,
.water .veg-threshold-info-shown,
.water .hand-threshold-info-shown,
.water .cloud-threshold-info-shown {
  display: block;
  position: fixed;
  top: 56%;
  right: 465px;
  transform: translate(0%, 0%);
  padding: 15px;
  width: 450px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  font-size: 12px;
  overflow: auto;
  margin-bottom: 0;
  z-index: 2;
}

.water .export-info-shown {
  display: block;
  position: fixed;
  top: 56%;
  right: 465px;
  padding: 15px;
  margin-top: -5px;
  width: 450px;
  height: 235px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  overflow: auto;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
}

/*******************************/
/* Application Page Map Layers */
/*******************************/

.water .map-layers-control {
  display: block;
  margin-top: 0px;
}

.water .map-layers-text {
  display: inline;
  margin-bottom: 5px;
  float: left;
}

.water .map-layers {
  display: inline-block;
}

.water .map-layers-value {
  margin-bottom:5px;
  display:flex;
  align-items:center;
}

.water #checkbox-aoi,
.water #checkbox-hand,
.water #checkbox-water {
  margin-left: 22px;
  width: 20px;
  height: 15px;
  cursor: pointer;
}

.water #aoiControlSlider {
  margin-left: 20px;
  width: 60px;
}

.water #handControlSlider {
  margin-left: 55px;
  width: 60px;
}

.water #waterControlSlider {
  margin-left: 59px;
  width: 60px;
}

.water #aoiControlSlider .slider-selection,
.water #handControlSlider .slider-selection,
.water #waterControlSlider .slider-selection {
  background: #D3D3D3;
}

.water #handControlSlider .tooltip {
  display: none
}

/***************************/
/* Application Page Legend */
/***************************/

.water .legend {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 143px;
  margin-top: 0px;
  padding: 6px 6px 1px 6px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 5px gray;
  z-index: 1;
}

.water .legend-text {
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 5px;
}

.water .legend-info-button {
  margin-left: 62px;
}

.water .legend-tabs {
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 8px;
}

.water .legend-tabs  button{
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  margin-right: -3px;
  transition: 0.3s;
  font-size: 12px;
}

.water .legend-tabs button.active {
  border: 1px solid #ccc;
  border-bottom: none;
  font-weight: bold;
}

.water .legend-tab-content {
  display: none;
  padding: 0px 6px;
}

.water .legend-value {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.water .legend-block {
  min-width: 40px;
  height: 20px;
  margin-right: 10px;
  border: #bbb solid 1px;
  background-color: #D3D3D3;
}

/*****************************/
/* Application Page Warnings */
/*****************************/

.water .warnings {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 200px;
  border-radius: 2px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 5px red;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  overflow: auto;
  margin-bottom: 0;
  z-index: 4;
}

/***********************************/
/* Application Page Download Panel */
/***********************************/

.water .download_panel {
  display: none;
  position: absolute;
  top: 10px;
  left: 120px;
  width: 250px;
  overflow: auto;
  padding: 5px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  z-index: 2;
}

.water #download_prep {
  display: none;
}

.water #link1,
.water #link2,
.water #link3,
.water #link4,
.water #link_metadata {
  display: none;
}

/******************/
/* Spinner Widget */
/******************/

.spinner {
  display: none;
  position:absolute;
  top:40%;
  left:40%;
  width:8rem;
  height:8rem;
  border-radius:4rem;
  border-bottom:1rem solid purple;
  animation:sweep 1s infinite linear;
  -moz-animation:sweep 1s infinite linear;
  -webkit-animation:sweep 1s infinite linear;
}

@keyframes sweep {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@-moz-keyframes sweep {
  from {
      -moz-transform:rotate(0deg);
  }
  to {
      -moz-transform:rotate(360deg);
  }
}

@-webkit-keyframes sweep {
  from {
      -webkit-transform:rotate(0deg);
  }
  to {
      -webkit-transform:rotate(360deg);
  }
}

/*************************/
/* Application Page Rest */
/*************************/

.water .water {
  flex-grow: 1;
}

.water .water:disabled {
  color: gray;
}
